.todo
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-left: 25rem;
  padding: 5rem;
  // background-color: lightblue;

  &__item
  {
    width: 50rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    // border: 1px solid #000;
  }

  &__header
  {
    padding: 1rem;
    background-color: #f6f7f9;
    
    & h3
    {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  &__body
  {
    height: 18rem;
    padding: 1rem;

    &-content
    {
      font-size: 1.6rem;
    }
  }

  &__buttons
  {
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 0.5rem 1rem;
  }

  &__icons
  {
    cursor: pointer;
    font-size: 1.5rem;
  }

  &__btn-modal {
    margin-left: 140rem;
    // margin-top: 30rem;

    &-icon {
      cursor: pointer;
      font-size: 5rem;
    }
  }
}

.tabs
{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-left: 25rem;

  &__link
  {
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;

    &-bgBlue
    {
      background-color: #2196f3;
    }

    &-bgRed
    {
      background-color: #f44336;
    }
  }
}